/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";

%clearfix {
    @include clearfix;
}

body {
    padding: 50px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
}

h1 {
    padding-bottom: 20px;
    font-size: 70px;
    font-family: 'Sniglet', cursive;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -1px;

    .letter0 {
        color: #48833B;
    }
    .letter1 {
        color: #EDC301;
    }
    .letter2 {
        color: #E16817;
    }
    .letter4 {
        color: #B6305F;
    }
    .letter5 {
        color: #51AEC6;
    }
    .letter6 {
        color: #9AB53C;
    }
    .letter7 {
        color: #FBD700;
    }
    .letter8 {
        color: #48833B;
    }

    .letter10 {
        color: #48833B;
    }
    .letter11 {
        color: #EDC301;
    }
    .letter12 {
        color: #E16817;
    }
    .letter14 {
        color: #B6305F;
    }
    .letter15 {
        color: #51AEC6;
    }
    .letter16 {
        color: #9AB53C;
    }
    .letter17 {
        color: #FBD700;
    }
    .letter18 {
        color: #48833B;
    }
}

#send {
    @extend %clearfix;

    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;

    p {
        float: left;
        padding-right: 10px;
    }
}

#questions {
    padding: 20px 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;

    li {
        padding-bottom: 30px;
    }
        .name {
            padding-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
            color: #A3C19D;
        }
        .q {
            padding: 0 0 10px 10px;
            color: #444;
            font-size: 16px;

            &:first-letter {
                font-size: 20px;
                font-weight: bold;
                color: #F3B68C;
            }

        }
        .time {
            padding-left: 10px;
            color: #AFDFE6;
        }
}
